streamlit==1.36.0
beautifulsoup4==4.12.3
tensorflow
Pillow==10.2.0
streamlit-lottie==0.0.5
numpy==1.26.4
keras
matplotlib==3.8.2
scikit-learn==1.4.0
pandas==2.2.0
altair==5.3.0
joblib==1.3.2
tensorflow
streamlit-option-menu
streamlit_shadcn_ui
opencv-python
